.topToolbar{
    position: fixed;
    top: 0;
    left: 0;
    background: #343a40;
    height: 100px;
    width: 100%;
    color: white;
    z-index: 2;
    padding: 0;
}

.bottomToolbar{
    background: #343a40;
    color: white;
    height: 200px;
}

/* .horizontal-scroll-wrapper{
  width: 500px;
  height: 300px;
  overflow-y: auto !important;
  overflow-x: hidden;
} */

.horizontal-scroll-wrapper > mat-card {
    width: 100px;
    height: 100px;
}